/*_______________________________________________________________________*/
/* Header */
.form-login {
  display: none;
}

.form-login.active {
  display: block;
}

.hd4-right__title li a img {
  width: 39px;
  margin-left: 15px;
  padding: 0;
}

.header3-top {
  background: var(--bg-more);
}

.header3-bottom {
  background: #fff;
  border: 1px solid #cdcdcd;
}

/*_______________________________________________________________________*/
/* Header sidebar */

.hd3-sidebar {
  padding: 0 1rem;
  width: 30rem;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #000;
  transition: all 200ms linear 0s;
  transform: translateX(-100%);
  overflow-y: auto;
  overflow-x: hidden;
}

.hd3-sidebar--close {
  z-index: 10;
}

.hd3-sidebar--close button {
  border: none;
  background: transparent;
  padding: 1rem 0.5rem 0 0;
}

.hd3-sidebar--close button svg {
  cursor: pointer;
  font-size: 2rem;
  fill: var(--color-primary);
}

.hd3-sidebar__nav {
  overflow-y: auto;
}

.hd3-sidebar__nav li {
  position: relative;
}

.hd3-sidebar__nav li a {
  display: block;
  color: var(--color-primary);
  padding: 1.1rem 2rem;
  border-bottom: 1px solid #ccc;
}

.hd3-sidebar__nav li svg {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  margin: 1rem 1rem;
  right: 0;
  fill: var(--color-primary);
}

.hd3-sidebar-nav__item {
  display: none;
}

.hd3-sidebar-nav__item li a {
  padding: 1.1rem 4.1rem 1.1rem 3rem;
}

.hd3-sidebar-nav__item li:hover > a {
  color: var(--color-more);
}

.hd3-sidebar-nav__item > li > svg {
  margin: 1rem 2rem 1rem 1rem;
}

.hd3-nav-item__child {
  display: none;
}

.hd3-nav-item__child li a {
  padding: 1.1rem 4.1rem 1.1rem 4rem;
}

.hd3-nav-item__child li:hover a {
  color: var(--color-more);
}

/*_______________________________________________________________________*/
/* Logo */

.hd3-top__logo img {
  height: 7rem;
  padding: 1rem 0 1rem 1rem;
}

/*_______________________________________________________________________*/
/* Search */

.hd3-top__search {
  flex: 1 1 auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 0px);
  background: black;
  padding: 1rem;
}

.hd3-search__form input {
  border: none;
  line-height: 2.5rem;
  padding: 0.6rem 1.2rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.hd3-search__form input:focus {
  outline: none;
}

.hd3-search__form button {
  cursor: pointer;
  border: none;
  background: var(--bg-primary);
  padding: 0.7rem 1.2rem;
  touch-action: manipulation;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.hd3-search__form button svg {
  font-size: 2rem;
}

/*_______________________________________________________________________*/
/* Contact */

.hd3-top__contact {
  display: none;
  flex: 1 1 auto;
}

.hd3-contact__title li {
  padding: 0 2rem;
}

.hd3-contact__title li a {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
}

/*_______________________________________________________________________*/
/* Toggle */

.hd3-top__toggle {
  padding: 0 1rem 0 0;
  align-self: center;
}

.hd3-toggle__btn {
  display: block;
  cursor: pointer;
  border: none;
  background: transparent;
}

.hd3-toggle__btn svg {
  font-size: 2.5rem;
}

/*_______________________________________________________________________*/
/* Navbar */

.box-qlt ul li {
  padding: 5px 19px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  margin-right: 10px;
}

.box-qlt {
  /* display: flex; */
  align-items: center;
}

.box-qlt ul {
  display: flex;
}

.box-qlt ul li a {
  color: #000;
}

.box-qlt ul li:hover {
}

.box-qlt ul li:hover {
  background: #4fb68d;
}

.color-detaile ul li:hover {
}

button.check-giohangs img {
  width: 35px;
  height: 35px;
}

li.signin-up {
  /* position: relative; */
  padding-right: 45px;
}

ul.all-signinout {
  position: absolute;
  width: 200px;
  background: #fff;
  z-index: 9999;
  min-width: 155px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 70px;
  overflow: hidden; /* Ẩn nội dung vượt ra khỏi phần tử */
  max-height: 0; /* Ẩn phần tử ban đầu */
  transition: max-height 0.3s ease; /* Thêm transition cho max-height */
}

ul.all-signinout.active {
  max-height: 200px; /* Đặt giá trị max-height tùy ý */
  transition: max-height 0.3s ease; /* Thêm transition cho max-height khi active */
}
ul.all-signinout::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
}
.qlty {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 100%;
}

.qtyli-cart {
  position: relative;
}
ul.hd4-right__title.d-flex.js-right.ai-center {
  position: relative;
}

ul.all-signinout li {
  /* padding: 11px 20px; */
  margin: unset;
  cursor: pointer;
  border-bottom: 1px solid #cdcdcd;
}
ul.all-signinout li:hover {
  background: #cdcdcd;
}
.all-signinout li a {
  padding: 0px 20px;
}
/* li.signin-up:hover .all-signinout {
  display: block;
} */

.avart-sgin {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.avart-sgin img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}

button.check-giohangs {
  border: none;
  background: #fff;
}

.hd4-cart--dropdown {
  min-width: max-content;
  left: -100px;
}

.img-cart-header-product img {
  width: 112px;
  height: 100px;
  object-fit: cover;
}
.inserts-product-header span {
  display: flex;
  align-items: center;
}

.inserts-product-header span p {
  padding: unset;
  margin: unset;
}

.header3-bottom {
  display: none;
}

.hd3-navbar__nav > li > a {
  position: relative;
  display: block;
  height: 100%;
  color: var(--color-second);
  text-transform: uppercase;
  line-height: 4.5rem;
  padding: 0 1.8rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.hd3-navbar__nav > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--bg-second);
  transform: scaleX(0) rotate(0deg);
  transition: all 0.5s;
}

.hd3-navbar__nav > li:hover > a::before {
  transform: scaleX(1) rotate(0deg);
}

.hd3-navbar__nav li svg {
  position: absolute;
  font-size: 1rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* hover */
.hd3-navbar__nav > li:hover .hd3__submenu {
  display: flex;
}

.hd3-navbar__nav > li:nth-child(6):hover .hd3__submenu2,
.hd3-navbar__nav > li:nth-child(7):hover .hd3__submenu2 {
  display: block;
}

/*_______________________________________________________________________*/
/* Submenu */

.hd3__submenu {
  display: none;
  background: url(../../assets/img/bg-submenu_sub.jpg);
}

.hd3__submenu > li {
  position: relative;
  width: 25%;
  padding: 3rem 4.7rem;
}

.hd3__submenu > li:first-child {
  background-color: rgba(0, 0, 7, 0.04);
}

.hd3__submenu > li > a {
  display: block;
  width: 100%;
  color: var(--color-second);
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 500;
  border-bottom: 1px solid #333;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}

.hd3__submenu > li > a:hover {
  color: var(--color-more);
}

.hd3-submenu__sub li {
  border-bottom: 1px solid #c4c4c4;
  padding: 0.5rem 0.5rem;
}

.hd3-submenu__sub li a {
  white-space: nowrap;
  color: var(--color-second);
  font-family: "Roboto", sans-serif;
}

.hd3-submenu__sub li a:hover {
  color: var(--color-more);
  -webkit-transition: all 0.5s ease;
}

.hd3__submenu2 {
  display: none;
  width: 34rem;
  box-shadow: rgba(0, 0, 0, 0.12) 3px 3px 15px;
}

.hd3__submenu2 li {
  padding: 1rem 0;
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.hd3__submenu2 li:hover a {
  color: var(--color-more);
}

.hd3__submenu2 li a {
  color: var(--color-second);
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
}

.hd3__sidebar--open {
  transform: unset;
}

.hd3-navbar__nav :hover .hd3-sub {
  visibility: initial;
  z-index: 9;
  background: #fff;
}

.hd3-navbar__nav .hd3-sub {
  visibility: hidden;
}

.hd4-left__logo {
  font-family: "Baumans", cursive;
  font-size: 38px;
  font-weight: 700;
}

.hd4-left__logo span {
  font-size: 25px;
  font-weight: 500;
  color: #4fb68d;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 12px;
}

.header-logo .logo-name {
  font-size: 14px /* 14px */;
  line-height: 20px /* 20px */;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

@media (min-width: 576px) {
  :root {
  }
}
@media (min-width: 768px) {
  :root {
    --container: 720px;
  }
}
@media (min-width: 992px) {
  :root {
    --container: 960px;
    --gutter: 15px;
  }
}
@media (min-width: 1200px) {
  :root {
    --container: 1140px;
  }

  @media (min-width: 576px) {
    :root {
    }
  }
  @media (min-width: 768px) {
    :root {
      --container: 720px;
    }
  }
  @media (min-width: 992px) {
    :root {
      --container: 960px;
      --gutter: 15px;
    }
  }
  @media (min-width: 1200px) {
    :root {
      --container: 1140px;
    }

    /*_______________________________________________________________________*/
    /* Header */

    .header3-top {
      background: var(--bg-second);
    }

    /*_______________________________________________________________________*/
    /* Header sidebar */
    .hd3-sidebar {
      display: none;
    }

    /*_______________________________________________________________________*/
    /* Logo */

    .hd3-top__logo img {
      padding: 1rem 0 1rem 2rem;
    }

    /*_______________________________________________________________________*/
    /* Search */

    .hd3-top__search {
      position: unset;
      margin: 0 2rem;
      height: auto;
      width: unset;
      transform: unset;
    }

    /*_______________________________________________________________________*/
    /* Contact */

    .hd3-top__contact {
      display: block;
    }

    /*_______________________________________________________________________*/
    /* Toggle */

    .hd3-top__toggle {
      display: none;
    }

    /*_______________________________________________________________________*/
    /* Navbar */

    .header3-bottom {
      display: block;
    }
  }
  @media (min-width: 1400px) {
    :root {
      --container: 1320px;
    }
  }
}
@media (min-width: 1400px) {
  :root {
    --container: 1320px;
  }
}

/*_______________________________________________________________________*/
/* Header sidebar */
header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hd4-sidebar__bg {
  opacity: 0;
}

.hd4-sidebar__bg--open {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: rgb(11, 11, 11);
  opacity: 0.6;
  transition: opacity 0.25s ease 0s;
}

.hd4-sidebar__left--open {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* sidebar left */
.hd4-sidebar-left__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 26rem;
  height: 100%;
  padding: 3rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.2s;
  -ms-transform: translateX(-270px);
  transform: translateX(-270px);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hd4-sidebar-left-menu__btn {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  opacity: 0;
  padding: 1rem 2rem;
  transform: translateX(110%) translateY(50%);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 20;
}

.hd4-sidebar-left__menu form {
  padding: 2rem 2rem;
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.hd4-sidebar-left__menu form input {
  width: 100%;
  line-height: 3.8rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 0 0.75rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hd4-sidebar-left__menu form input:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

.hd4-sidebar-left__menu > form > button {
  width: 100px;
  vertical-align: middle;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #edeef2;
  border: none;
}

.hd4-sidebar-left__menu > form > button:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}
.hd4-sidebar-left-menu__btn svg {
  font-size: 3.5rem;
}

.hd4-sidebar-left-menu__btn--open {
  opacity: 0.5;
  transform: translateY(0);
}

.hd4-sidebar-left__submenu li {
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.hd4-sidebar-left__submenu li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.hd4-sidebar-left__submenu > li svg {
  padding: 0 0.5rem 0 0.5rem;
  font-size: 2rem;
}

.hd4-sidebar-left__submenu li:hover a {
  color: var(--color-more);
  transition: all 0.2s;
}

.hd4-sidebar-left__submenu li a {
  padding: 1.5rem 2rem 1.5rem 1rem;
  color: var(--color-second);
}

.hd4-sidebar-left__submenu li:last-child a {
  padding: 1.5rem 0 1.5rem 0.5rem;
}

.hd4-sidebar-left__submenu li:last-child a:hover svg {
  fill: var(--color-more);
  transition: all 0.3s;
}

/* sidebar right */
.hd4-sidebar-right__cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 26rem;
  height: 100%;
  padding: 3rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.2s;
  transform: translateX(270px);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hd4-sidebar-left__menu--open {
  transform: translate(0, 0);
}

.hd4-sidebar-right__cart {
  padding: 3rem 0;
  /* text-align: center; */
}

.hd4-sidebar-right__cart p:first-child {
  font-size: 2.5rem;
  padding: 2rem 0 0 0;
}

.hd4-sidebar-right-cart__line {
  height: 3px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1em 0 1em;
  width: 100%;
  max-width: 30px;
}

/*_______________________________________________________________________*/
/* Header-left */

.hd4-left {
  flex: 0.7;
}

.hd4-left__logo img {
  height: 8rem;
  padding: 0.5rem 0;
}

.hd4-left-left__toggle,
.hd4-left-right__toggle {
  cursor: pointer;
  font-size: 2.5rem;
  border: none;
  background: transparent;
}

/*_______________________________________________________________________*/
/* Header-mid */

.hd4-mid {
  display: none;
  align-self: center;
}

.hd4-mid__search input {
  width: 100%;
  line-height: 3.8rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 0 0.75rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s;
}

.hd4-mid__search input:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

.hd4-mid__search button {
  width: 100px;
  vertical-align: middle;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #edeef2;
  border: none;
}

.hd4-mid__search button:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.hd4-mid__search button svg {
  font-size: 1.7rem;
}

/*_______________________________________________________________________*/
/* Header-right */

.hd4-right {
  display: none;
  align-self: center;
}

.hd4-right__title li {
  position: relative;
  margin: 0 0.7rem;
  padding: 1.5rem 0;
}

.hd4-right__title li:first-child {
  margin-left: 0 !important;
}

.hd4-right__title li:last-child {
  margin-right: 0 !important;
}

.hd4-right__title li a {
  display: flex;
  align-items: center;
  color: var(--color-second);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-bottom: 0px;
}

.hd4-right__title li svg {
  width: 27px;
  margin: 0 0 0 1rem;
}

.hd4-right__title > li:last-child:hover .hd4-cart--dropdown {
  left: auto;
  right: -1.5rem;
  opacity: 1;
}

.hd4-right__title > li:last-child:hover .hd4-cart--dropdown li::before {
  transition: opacity 0.25s;
  opacity: 1;
  z-index: -999;
  border-bottom-color: #ddd;
  border-width: 11px;
}

.hd4-right__title > li:last-child:hover .hd4-cart--dropdown li::after {
  transition: opacity 0.25s;
  opacity: 1;
  border-bottom-color: #fff;
  border-width: 9px;
}

.hd4-cart--dropdown {
  top: 100%;
  min-width: 26rem;
  padding: 2rem 0;
  opacity: 0;
  transition: opacity 0.25s;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border: 2px solid #ddd;
  color: #777;
  background-color: #fff;
  z-index: 10;
  left: -99999px;
}

.hd4-cart--dropdown li {
  box-sizing: border-box;
  padding: 0 2rem 1rem;
}

.hd4-cart--dropdown li::before {
  content: "";
  top: -42px;
  opacity: 0;
  left: 70%;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
}

.hd4-cart--dropdown li::after {
  content: "";
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  top: -37px;
  z-index: 10;
  opacity: 0;
  left: 71%;
  border: solid transparent;
  position: absolute;
}

.hd4-cart--dropdown li p {
  font-size: 1.6rem;
}

/*_______________________________________________________________________*/
/* Line */

.hd4__line {
  border-top: 1px solid currentColor;
  opacity: 0.1;
}

/*_______________________________________________________________________*/
/* Navbar */

.header4-navbar {
  display: none;
  background-color: #f5f5f3;
}

.hd4-navbar__nav {
  padding: 0.1rem 0;
}

.hd4-nav__left {
  width: 25%;
  padding: 0px 0 0 1.5rem;
  background-color: var(--color-more);
  font-weight: bolder;
}

.hd4-nav__left:hover .hd4-nav__submenu {
  top: 100%;
  left: 0;
  display: block;
}

.hd4-nav__left svg {
  fill: var(--color-primary);
}

.hd4-nav__left span {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 1.5rem;
}

.hd4-nav-right__title li {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0.7rem;
}

.hd4-nav-right__title li:first-child {
  margin-left: 0 !important;
}

.hd4-nav-right__title li:last-child {
  margin-right: 0 !important;
}

.hd4-nav-right__title li a {
  font-size: 1.3rem;
  color: var(--color-second);
}

.hd4-nav-right__title li img {
  padding: 0.5rem 1rem 0.5rem 0;
}

/*_______________________________________________________________________*/
/* Submenu */

.hd4-nav__submenu {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.12) 3px 3px 15px;
}

.hd4-nav__submenu > li {
  padding: 0.9rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.hd4-nav__submenu > li > a {
  display: block;
  font-family: "Roboto", sans-serif;
  color: var(--color-second);
  font-weight: 200;
}

.hd4-nav__submenu li:hover {
  background: #f5f5f5;
}

.hd4-nav__submenu li:hover a {
  color: var(--color-more);
  transition: all 0.2s;
}

.hd4-nav__submenu li img {
  padding: 0 1rem 0 0;
}

@media (min-width: 576px) {
  :root {
  }
}
@media (min-width: 768px) {
  :root {
    --container: 720px;
  }
}
@media (min-width: 992px) {
  :root {
    --container: 960px;
    --gutter: 15px;
  }
}
@media (min-width: 1200px) {
  :root {
    --container: 1140px;
  }

  .header4-main__ctnr {
    display: flex;
  }

  .hd4-left-left__toggle {
    display: none;
  }

  .hd4-left-right__toggle {
    display: none;
  }

  .hd4-mid {
    display: block;
  }

  .hd4-right {
    display: block;
  }

  .header4-navbar {
    display: block;
  }
}
@media (min-width: 1400px) {
  :root {
    --container: 1320px;
  }
}
