/* ROBOTO FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
}
.login-header h4 {
  font-size: 34px;
  text-align: center;
}
.login-box {
  position: relative;
  width: auto;
  height: auto;
  padding: 10px 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.login-box.login-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0 50px 0;
}
.login-header header {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 30px;
  margin-bottom: 5px;
}
.login-header p {
  color: #555;
  text-align: center;
}
.input-box {
  position: relative;
  justify-content: center;
}
.input-box label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #555;
  transition: 0.15s ease-in-out;
}
.input-box input {
  width: 100%;
  height: 50px;
}
.input-box button {
  margin: 0 auto;
  padding: 10px 30px;
}
.input-box .input-field {
  font-size: 1em;
  color: #333;
  padding-left: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}
.input-box input[type="password"] {
  margin-bottom: 10px;
}
.input__forgotpassword input {
  margin-bottom: 20px;
}
.input-box .input-field:focus {
  border: 2px solid #8749f2;
}
.input-field:focus ~ label,
.input-field:valid ~ label {
  top: -8px;
  left: 12px;
  font-size: 12px;
  color: #7931f5;
  background: #fff;
  padding: 0 5px;
}
.input-field:valid ~ label {
  color: #555;
}
.login-box.forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.login-box section {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}
#check {
  margin-right: 10px;
}
section .forgot-link {
  font-weight: 500;
  text-decoration: none;
  color: #7931f5;
}
.input-submit {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
  background: #7931f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.middle-text {
  position: relative;
  width: 100%;
  margin: 30px 0;
}
.or-text {
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #777;
  padding: 10px;
}
hr {
  border: 1px solid #ddd;
}
.social-sign-in {
  display: flex;
  gap: 15px;
}
button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
}
.input-google {
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background: #fff;
  border: 1px solid #ccc;
}
.input-google img {
  width: 25px;
}
.input-google p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  width: 90%;
}
.input-twitter {
  justify-content: center;
  width: 70px;
  height: 50px;
  background: #fff;
  border: 1px solid #ccc;
}
.input-twitter img {
  width: 30px;
}
.input-google:hover,
.input-twitter:hover,
.input-submit:hover {
  opacity: 0.9;
}
.sign-up {
  position: absolute;
  bottom: -44px;
  right: 0;
}
.sign-up p {
  font-size: 14px;
  color: #333;
}
.sign-up p > a {
  text-decoration: none;
}
@media only screen and (max-width: 510px) {
  .login-box {
    padding: 10px 30px;
    margin: 20px;
  }
}
@media only screen and (max-width: 415px) {
  .login-box {
    padding: 10px 25px;
    margin: 15px;
  }
}
.error {
  color: red;
}
